.cargo-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 112rem;
  padding: 2rem 2rem;
  border: 1px solid #ccc;
}
.body-container {
  padding: 4rem;
}
.cargo-contents {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}
.shipment-contents {
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}
